/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* BASE STYLES
  /*******************************************/

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Fjalla One", sans-serif;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/******************************************
  /* BASE STYLES
  /*******************************************/

/* HEADER */

header {
  height: 50px;
  width: 100%;
}

header nav {
  color: black;
}
header nav ul {
  gap: 3rem;
}
.sticky {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
header nav ul li a,
header > section > span > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
}
/* HAMBURGER MENU */
:root {
  --bar-width: 20px;
  --bar-height: 4px;
  --ham-gap: 2px;
  --foreground: #333;
  --background-color: white;
  --ham-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --ham-height: calc(var(--bar-height) * 3 + var(--ham-gap) * 2);
}
.ham::before,
.ham::after,
.ham input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}
.ham input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.ham:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.ham:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
.ham input:checked {
  opacity: 0;
  width: 0;
}
.ham,
.sidebar {
  display: none;
}
/* HAMBURGER MENU */
header a:hover {
  color: hotpink;
}
header li img {
  width: 1.3rem;
  height: 1.3rem;
}
/* HEADER */
/* MAIN */
.background-image {
  position: relative;
  background: url(../img/Backgroundimg.jpg);
  background-size: cover;
  background-position: right;
  color: white;
  /* height: 80vh; change to if using mask*/
  padding-top: 15vmin;
  padding-left: 15vmin;
  padding-right: 0;
}
h1 {
  font-size: 7rem;
  font-family: "EB Garamond", serif;
}
.background-image p {
  margin: 30px 0px 30px 0px;
  font-size: 1.5rem;
}
.rotateText {
  position: absolute;
  top: 60%;
  right: 0px;
  transform: rotate(90deg);
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}
.ourServices {
  height: 5rem;
  width: 17rem;
  background-color: black;
}
/* OUR SERVICES */

.centered-text {
  display: block;
}
.ourServices span {
  padding: 1.5rem 0;
  text-align: center;
}
.ourServices a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.ourServices a:hover {
  color: hotpink;
}
/* OUR SERVICES */
/* COUPON */
.coupon {
  margin-top: 8rem;
  background-color: black;
  width: 30rem;
  height: 30rem;
  padding: 2rem 3rem;
}
.coupon p {
  font-size: 1.5rem;
}
.coupon span {
  font-size: 4rem;
}
.coupon button {
  height: 4rem;
  width: 15rem;
  cursor: pointer;
}
/* COUPON */
/* ARTICLES */
.article-section {
  padding: 5rem 25rem;
}
.article-section article {
  padding: 1rem;
  height: 20rem;
  width: 30rem;
}
article span {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  display: block;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}
article p {
  font-size: 1.5rem;
  text-align: center;
}
article img {
  display: block;
  margin: 0 auto;
  height: 6rem;
  width: 6rem;
}
/* ARTICLES */
/* MOMENTUM SECTION */
.momentum {
  padding: 10rem 25rem;
  background-color: #f3f4f6;
}
.momentum section {
  height: 35rem;
  width: 50rem;
}
h4 {
  font-size: 5rem;
  font-family: "EB Garamond", serif;
  margin-bottom: 3rem;
}
.momentum p {
  font-size: 1.5rem;
}
.momentum > section {
  position: relative;
}
.momentum button {
  position: absolute;
  bottom: 0;
  height: 6rem;
  width: 20rem;
  background-color: black;
  color: white;
}
.momentum button:hover {
  cursor: pointer;
  color: hotpink;
}
.momentum section + section {
  position: relative;
}
.momentum img {
  width: 100%;
  height: 100%;
}
.momentum img + img {
  top: 39%;
  left: 39%;
  position: absolute;
  width: 25%;
  height: 25%;
  transform: translate((-50%, -50%));
  z-index: 1;
}
/* MOMENTUM SECTION */
/* HAIR STYLISTS */
.hair_stylist {
  margin: 8rem 0;
}
.hair_stylist section {
  position: relative;
  height: 40rem;
  width: 30rem;
}
.hair_stylist img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hair_stylist div {
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 16%;
  width: 20rem;
  height: 7rem;
  transform: translateY(50%);
}
.hair_stylist p {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}
.hair_stylist span {
  text-align: center;
  font-size: 1.2rem;
  font-family: "EB Garamond", serif;
}
/* HAIR STYLISTS */
/* AD BANNER */
.ad_section {
  display: flex;
  justify-content: center;

  position: relative;
}
.ad_section section {
  background-color: #f3f4f6;
  height: 50rem;
  width: 60rem;
}
.ad_section > section:nth-child(1) {
  padding: 10rem 0;
}
.ad_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ad_section p {
  margin: 2rem 0;
  font-size: 4rem;
  font-family: "EB Garamond", serif;
}
.ad_section > section > p:nth-child(1) {
  font-size: 2rem;
}
.ad_section span {
  font-size: 6rem;
  font-weight: bold;
}
.ad_section button {
  height: 6rem;
  width: 20rem;
  background-color: black;
  color: white;
}
.ad_section button:hover {
  color: hotpink;
  cursor: pointer;
}
/* AD BANNER */
/* LOOKBOOK SECTOIN */
.lookbook_header {
  text-align: center;
  margin: 5rem;
}
.lookbook_header p {
  font-size: 5rem;
  font-family: "EB Garamond", serif;
}
/* PHOTO_GRID */
.photo_grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.photo_grid section {
  height: 100%;
  width: 100%;
}
.photo_grid img {
  height: 100%;
  width: 100%;
}
.grid_row_2 {
  grid-row: span 2;
}
.padStylerAdPhoto {
  padding: 0 25rem;
}
/* PHOTO_GRID */
/* LOOKBOOK SECTOIN */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width: 1350px) {
  .hair_stylist {
    display: block;
  }
  .hair_stylist section {
    margin: 5rem auto;
  }
  .momentum {
    display: block;
    padding: 2rem;
  }
  .momentum section {
    margin: 2rem auto;
  }
}

/* WIDTH 1000 */

@media (max-width: 1000px) {
  .flex {
    justify-content: center;
    gap: 8rem;
  }
  .ham {
    --x-width: calc(var(--ham-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--ham-gap);
    width: max-content;
    position: absolute;
    /* change pixels later */
    top: var(--ham-margin);
    left: var(--ham-margin);
    z-index: 2;
    cursor: pointer;
  }
  .sidebar {
    display: block;
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--ham-height)+ var(--ham-margin)+1rem);
    background-color: black;
    color: black;
    max-width: 10rem;
    min-height: 100vh;
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(-1);
  }
  .ham:has(input:checked) + .sidebar {
    translate: 0;
  }
  .sidebar nav {
    font-size: 1.5rem;
    padding: 1rem auto;
    color: white;
    font-family: "EB Garamond", serif;
  }
  .sidebar nav div {
    margin-top: 1rem;
  }

  .navbar {
    display: none;
  }
  .rotateText {
    display: none;
  }
  .padStylerAdPhoto {
    padding: 0 5rem;
  }
  .article-section {
    padding: 0;
    display: block;
  }
  .article-section article {
    margin: 0 auto;
  }

  .photo_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* WIDTH 600 */
@media (max-width: 600px) {
  .flex {
    gap: 2rem;
  }
  .momentum {
    padding: 0 2rem;
  }
  .ad_section section + section {
    display: none;
  }
  .photo_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
